body
{
    background-color: #f5f5f5; /*bgc#f5f5f5 shortcut */
    color: #40407a; /*c#fff shortcut*/
}
header
{
    background-color: #80cbc4; /*bgc#80cbc4 shortcut */
}

footer
{
    background-color: #80cbc4;
}